In [15]:
import sys
import os
import py_entitymatching as em
print('magellan version:' + em.__version__)
import re
import csv
import pandas as pd
import math

from cleaner import Cleaner
from constants import csv_headers

magellan version:0.1.0

In [2]:
working_dir = os.path.dirname(os.getcwd())
path_to_csv_dir = working_dir + os.sep + 'csv_files'+ os.sep

# STEP 1 - PRE-PROCESSING DATA

In this stage, we need to preprocess data before applying Megellan. This is because our datasets (especially the AOM dataset) are quite dirty, and therefore adversely affecting Megellan's blocking and matching functions. For example, states can take any value of "CA", "California", or "CA - California".

In this step, we will clean the following variables:
* Country name (e.g. Whed data has 2 Belgiums: (1) Belgium - French Community and (2) Belgium - Flemish Community)
* State name
* City name
* Affiliation name
* Email server domain (we will only capture the university information from the email server domain - if there is any)

### 1.A. Clean AOM data

In [4]:
aom_cleaner = Cleaner(path_to_csv_dir + '_aom.csv', csv_headers.AOM_INDEX, csv_headers.AOM)

aom_cleaner.clean_affiliation('a_name')
aom_cleaner.clean_email_server('a_email_server')
aom_cleaner.clean_city('a_city')
aom_cleaner.clean_country('a_country')
aom_cleaner.clean_states('a_prov', 'a_country')

aom_cleaner.to_csv(path_to_csv_dir + '_aom_cleaned.csv')
aom_cleaner.data.head(n=3)

,a_name,a_city,a_prov,a_country,a_email_server
person_id,,,,,
1,academy management,briarcliff manor,new york,united states,aom
4,northeastern university,boston,massachusetts,united states,gmail
5,skidmore college,saratoga springs,new york,united states,skidmore

### 1.B. Clean WHED data

In [3]:
whed_cleaner = Cleaner(path_to_csv_dir + '_whed.csv', csv_headers.WHED_INDEX, csv_headers.WHED, encoding = 'ISO-8859-1')

whed_cleaner.clean_affiliation('a_name')
whed_cleaner.clean_city('a_city')
whed_cleaner.clean_country('a_country')

whed_cleaner.to_csv(path_to_csv_dir + '_whed_cleaned.csv')
whed_cleaner.data.head(n=3)

,a_name,a_country,a_city,a_prov,a_web
a_id,,,,,
2,pampanga state agricultural university,philippines,magalang,Pampanga,http://www.pac.edu.ph
4,les roches international school hotel management,switzerland,bluche crans montana,Bluche-Crans-Montana,http://www.lesroches.edu
6,dharma gate budapest buddhist university,hungary,budapest,NaN,http://www.tkbf.eu

# STEP 2 - MAGELLAN - BLOCKING

In [5]:

AOM = em.read_csv_metadata(path_to_csv_dir + '_aom_cleaned.csv', key = csv_headers.AOM_INDEX)
print(em.get_key(AOM))

WHED = em.read_csv_metadata(path_to_csv_dir + '_whed_cleaned.csv', key = csv_headers.WHED_INDEX)
print(em.get_key(WHED))

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

person_id
a_id

In [6]:
# building inverted index based on B
sample_WHED, sample_AOM = em.down_sample(WHED, AOM, size=3000, y_param=10)
print(len(sample_WHED))
print(len(sample_AOM))
em.show_properties(sample_WHED)
em.show_properties(sample_AOM)

0%                          100%
[##############################] | ETA: 00:00:17 | ETA: 00:00:16 | ETA: 00:00:16 | ETA: 00:00:15 | ETA: 00:00:15 | ETA: 00:00:14 | ETA: 00:00:13 | ETA: 00:00:13 | ETA: 00:00:12 | ETA: 00:00:12 | ETA: 00:00:11 | ETA: 00:00:10 | ETA: 00:00:10 | ETA: 00:00:09 | ETA: 00:00:09 | ETA: 00:00:08 | ETA: 00:00:07 | ETA: 00:00:07 | ETA: 00:00:06 | ETA: 00:00:06 | ETA: 00:00:05 | ETA: 00:00:04 | ETA: 00:00:04 | ETA: 00:00:03 | ETA: 00:00:03 | ETA: 00:00:02 | ETA: 00:00:01 | ETA: 00:00:01 | ETA: 00:00:00 | ETA: 00:00:00 | ETA: 00:00:00

11249
3000
id: 4560893432
key: a_id
id: 4673743000
key: person_id

Total time elapsed: 00:00:18

In [26]:
def match_country_prov(ltuple, rtuple):
#   return True  - if the intention is to drop the pair
#          False - if the intention is to keep the tuple pair
    l_country = ltuple['a_country']
    r_country = rtuple['a_country']
    l_prov = ltuple['a_prov']
    r_prov = rtuple['a_prov']
    
    if l_country != r_country:
        return True
    elif l_country == "united states":
        if l_prov != r_prov:
            return True
        else:
            return False
    else:
        return False

def match_overlap(ltuple, rtuple):
    # There are cases where the AOM does not have affliation name
    # This does not happen with WHED
    if pd.isnull(ltuple['a_name']) or pd.isnull(rtuple['a_name']):
        return True

    l_tokens = em.tok_wspace(ltuple['a_name'])
    r_tokens = em.tok_wspace(rtuple['a_name'])
    
    if len(l_tokens) > 1 and len(r_tokens) > 1:
        if "university" in l_tokens:
            l_tokens.remove("university") 
        if "university" in r_tokens:
            r_tokens.remove("university") 
        return em.overlap_coeff(l_tokens, r_tokens) == 0
    else:
        return False
    
def match_combined(ltuple, rtuple):
    if match_country_prov(ltuple, rtuple):
        return True
    else:
        return match_overlap(ltuple, rtuple)
    
def blocking(A, B, A_headers, B_headers):
    bb = em.BlackBoxBlocker()
    bb.set_black_box_function(match_combined)
    C = bb.block_tables(A, B, l_output_attrs=A_headers, r_output_attrs=B_headers)
    return C

C = blocking(sample_WHED, sample_AOM, csv_headers.WHED, csv_headers.AOM)

0%                          100%
[                              ]

HEre+++++++
HEre+++++++

[#                             ] | ETA: 00:23:06

HEre+++++++

[##                            ] | ETA: 00:22:16

HEre+++++++

[###                           ] | ETA: 00:21:26

HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++

[####                          ] | ETA: 00:20:35

HEre+++++++
HEre+++++++

[#######                       ] | ETA: 00:19:54 | ETA: 00:19:05 | ETA: 00:18:13

HEre+++++++
HEre+++++++
HEre+++++++

[########                      ] | ETA: 00:17:25

HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++

[#########                     ] | ETA: 00:16:42

HEre+++++++

[###########                   ] | ETA: 00:15:52 | ETA: 00:15:00

HEre+++++++

[############                  ] | ETA: 00:14:11

HEre+++++++

[#############                 ] | ETA: 00:13:23

HEre+++++++

[###############               ] | ETA: 00:12:33 | ETA: 00:11:48

HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++

[##################            ] | ETA: 00:11:00 | ETA: 00:10:11 | ETA: 00:09:24

HEre+++++++

[###################           ] | ETA: 00:08:36

HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++

[############################  ] | ETA: 00:07:49 | ETA: 00:07:01 | ETA: 00:06:13 | ETA: 00:05:26 | ETA: 00:04:39 | ETA: 00:03:52 | ETA: 00:03:06 | ETA: 00:02:19 | ETA: 00:01:33

HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++
HEre+++++++

[##############################] | ETA: 00:00:46 | ETA: 00:00:00 | ETA: 00:00:00
Total time elapsed: 00:23:14

In [27]:
C.head(n = 50000)

,_id,ltable_a_id,rtable_person_id,ltable_a_name,ltable_a_city,ltable_a_prov,ltable_a_country,ltable_a_web,rtable_a_name,rtable_a_city,rtable_a_prov,rtable_a_country,rtable_a_email_server
0,0,9,54111,aalborg university,aalborg,NaN,denmark,http://www.aau.dk,aalborg university,branbrand,NaN,denmark,u-k
1,1,10,43727,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto
2,2,10,15158,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,aalto,finland,aalto
3,3,10,1239,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
4,4,10,48739,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,uusimaa,finland,aalto
5,5,10,54397,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto
6,6,10,56106,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aalto
7,7,10,45376,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,tkk
8,8,10,29248,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,-,finland,aalto
9,9,10,48778,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
10,10,10,36779,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,aalto
11,11,10,58872,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
12,12,10,54387,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,helsinki,finland,aalto
13,13,10,54466,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
14,14,10,10509,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
15,15,10,31140,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aalto
16,16,10,9489,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
17,17,10,55949,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,helsinki,NaN,finland,aalto
18,18,10,50544,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,aalto,NaN,finland,aalto
19,19,10,14261,aalto university,espoo,NaN,finland,http://www.aalto.fi/fi/,aalto university,espoo,NaN,finland,stratnet
20,20,15,58047,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,au
21,21,15,27828,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,aarhus c,denmark,asb
22,22,15,27343,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,asb
23,23,15,57262,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,asb
24,24,15,19726,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,asb
25,25,15,42497,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,asb
26,26,15,58875,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,NaN,denmark,au
27,27,15,33098,aarhus university,aarhus,C,denmark,http://www.au.dk/en,aarhus university,aarhus,danmark,denmark,asb
28,28,19,40463,abasyn university,peshawar,Khyber Pakhtunkhwa,pakistan,http://www.abasyn.edu.pk/,lums,lahore,#name?,pakistan,yahoo
29,29,24,46429,abeu university centre,belford roxo,Rio de Janeiro,brazil,http://www.uniabeu.edu.br,uninove,sao paulo,sp,brazil,yahoo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26774,26774,24042,3952,open university china,beijing,NaN,china,http://www.ouchn.edu.cn,china europe international business school,beijing,NaN,china,ceibs
26775,26775,24042,6307,open university china,beijing,NaN,china,http://www.ouchn.edu.cn,ceibs,shanghai,NaN,china,ceibs
26776,26776,24042,23965,open university china,beijing,NaN,china,http://www.ouchn.edu.cn,university nottingham ningbo china,ningbo,zhejiang,china,nottingham
26777,26777,24042,49777,open university china,beijing,NaN,china,http://www.ouchn.edu.cn,renmin university china,beijing,NaN,china,ruc
26778,26778,24049,59585,adventist university africa,nairobi,NaN,kenya,http://www.aua.ac.ke,catholic university eastern africa,kisumu,NaN,kenya,yahoo
26779,26779,24054,59585,catholic university eastern africa hekima university college,nairobi,NaN,kenya,http://www.hekima.ac.ke,catholic university eastern africa,kisumu,NaN,kenya,yahoo
26780,26780,24055,59585,catholic university eastern africa tangaza university college,nairobi,NaN,kenya,http://tangaza.org,catholic university eastern africa,kisumu,NaN,kenya,yahoo
26781,26781,24057,59585,catholic university eastern africa marist international university college,karen,NaN,kenya,http://miuc.ac.ke,catholic university eastern africa,kisumu,NaN,kenya,yahoo
26782,26782,24058,59585,catholic university eastern africa regina pacis university college,langata,NaN,kenya,http://rpuc.ac.ke,catholic university eastern africa,kisumu,NaN,kenya,yahoo
26783,26783,24082,42270,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,xlri xavier school management,jamshedpur,jharkhand,india,gmail
26784,26784,24082,41655,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute technology bombay,mumbai,maharashtra,india,gmail
26785,26785,24082,52500,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management indore,indore,madhya pradesh,india,iimidr
26786,26786,24082,57798,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute technology delhi,new delhi,NaN,india,iitd
26787,26787,24082,57565,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,fore school management india,delhi,delhi,india,gmail
26788,26788,24082,58644,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute technology madras,chennai,tamilnadu,india,yahoo
26789,26789,24082,48464,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management ahmedabad,ahmedabad,gujarat,india,ernet
26790,26790,24082,57081,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management udaipur,gandhinagar,gujarat,india,iimu
26791,26791,24082,46981,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,t. a. pai management institute,manipal,karnataka,india,gmail
26792,26792,24082,51950,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management kozhikode,kohzikode,kerala,india,gmail
26793,26793,24082,57083,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management indore,indore,madhya pradesh,india,iimidr
26794,26794,24082,51182,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management ahmedabad,ahmedabad,gujarat,india,gmail
26795,26795,24082,27132,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management indore,indore,NaN,india,iimidr
26796,26796,24082,43304,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management bangalore,bangalore,karnataka,india,gmail
26797,26797,24082,22683,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management calcutta,kolkata,west bengal,india,iimcal
26798,26798,24082,27658,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute technology,mumbai,maharashtra,india,iitb
26799,26799,24082,37964,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management kozhikode,kozhikode,kerala,india,iimk
26800,26800,24082,51236,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management rohtak,rohtak,haryana,india,yahoo
26801,26801,24082,27109,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management ahmedabad,ahmedabad,gujarat,india,ernet
26802,26802,24082,54734,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management calcutta,kolkata,west bengal,india,thestrategyacademy
26803,26803,24082,58511,institute rural management anand,anand,Gujarat,india,https://www.irma.ac.in,indian institute management calcutta,kolkata,west bengal,india,iimcal

In [28]:
C.size

348452

In [33]:

em.save_table(C, path_to_csv_dir + 'matching_pairs_table.pkl')

Metadata file already exists at /Users/carepjan/code/website/stage3/csv_files/matching_pairs_table.pklmetadata. Overwriting it

True

In [34]:
em.to_csv_metadata(C, path_to_csv_dir + 'matching_pairs_metadata.csv')

File already exists at /Users/carepjan/code/website/stage3/csv_files/matching_pairs_metadata.csv; Overwriting it
Metadata file already exists at /Users/carepjan/code/website/stage3/csv_files/matching_pairs_metadata.metadata. Overwriting it

True

In [35]:
S = em.sample_table(C, 40)

In [40]:
sample_WHED.set_index([csv_headers.WHED_INDEX])
print(em.get_key(sample_WHED))

a_id

In [41]:
print(em.get_key(sample_AOM))

person_id

In [44]:
print(em.show_properties(sample_AOM))
print(em.show_properties(C))

id: 4673743000
key: person_id
None
id: 4706378920
key: _id
fk_ltable: ltable_a_id
fk_rtable: rtable_person_id
ltable(obj.id): 4560893432
rtable(obj.id): 4673743000
None

In [46]:
print(em.show_properties(C))

id: 4706378920
key: _id
fk_ltable: ltable_a_id
fk_rtable: rtable_person_id
ltable(obj.id): 4560893432
rtable(obj.id): 4673743000
None

In [51]:
sample_AOM.to_csv(path_to_csv_dir + 'sample_AOM.csv', encoding = 'UTF-8', index_label = csv_headers.AOM_INDEX)
sample_WHED.to_csv(path_to_csv_dir + 'sample_WHED.csv', encoding = 'UTF-8', index_label = csv_headers.WHED_INDEX)